<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695375482283-hsran583uvo5pgb79iirfk6k1cc0iqd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695375482283-hsran583uvo5pgb79iirfk6k1cc0iqd9</string>
	<key>API_KEY</key>
	<string>AIzaSyC_UdT3VC__gwMpR6J4xTOGgOO3L4PVDpc</string>
	<key>GCM_SENDER_ID</key>
	<string>695375482283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.thijsthijssen.rstrivia</string>
	<key>PROJECT_ID</key>
	<string>osrs-trivia</string>
	<key>STORAGE_BUCKET</key>
	<string>osrs-trivia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695375482283:ios:8edb1a2c043766ea3096ee</string>
	<key>DATABASE_URL</key>
	<string>https://osrs-trivia.firebaseio.com</string>
</dict>
</plist>